@import 'mixins.scss';
@import 'variables.scss';

.base-button {
  @include unstyledButton;
  @include dropdownHeaderText;
  display: flex;
  align-items: center;
  position: relative;
}

.button {
  composes: base-button;
}

.button-compact {
  composes: base-button;
  font-size: 1.4rem;
}

.button-open {
  composes: button;

  &:after {
    transform: scaleX(1) !important;
  }
}

.button-compact-open {
  composes: button-compact;
}
