@import 'theme.scss';

:global(.Select) {
    font-size: $input-font-size;
    line-height: $input-line-height;
}

:global(.Select-control) {
    border-color: $input-border-color !important;
}

:global(.Select-control:hover) {
    box-shadow: none !important;
}

.error :global(.Select:not(.is-open):not(.is-disabled)) :global(.Select-control) {
    background: $input-error-background-color;
    border-color: $input-error-border-color !important;
    color: $input-error-color;
    box-shadow: none;

    :global(.Select-value-label),
    :global(.Select-placeholder) {
        color: $input-error-color !important;
    }
}

:global(.Select-placeholder.Select-placeholder) {
    color: $input-placeholder-color;
}

:global(.Select.is-focused) :global(.Select-placeholder.Select-placeholder) {
    color: $input-placeholder-focus-color;
}

:global(.Select.is-focused:not(.is-open)) > :global(.Select-control),
.error :global(.Select.is-focused:not(.is-open)) > :global(.Select-control) {
    border-color: $input-border-focus-color;
}

:global(.Select.is-disabled) {
    pointer-events: none;

    :global(.Select-value-label) {
        color: $quarter-black !important; 
    }
}

:global(.Select--multi) :global(.Select-value.Select-value) {
    margin-bottom: 5px;
    color: $black;
    background-color: $sixteenth-black;
    border-color: $quarter-black;
}
:global(.Select--multi) :global(.Select-value-icon.Select-value-icon) {
    border-right: none;
}
:global(.Select--multi) :global(.Select-value-icon.Select-value-icon:hover) {
    color: $black;
    background-color: $eighth-black;
}

:global { @import '../../../node_modules/react-select/scss/default.scss'; }

:global(.Select-control),
:global(.Select-value),
:global(.Select-placeholder) {
    height: 38px !important;
}

:global(.Select-value-label),
:global(.Select-placeholder) {
    line-height: 36px !important;
}

:global(.Select-multi-value-wrapper) {
    :global(.Select-value) {
        height: 26px !important;
    }

    :global(.Select-value-label) {
        line-height: 21px !important;
    }
}