@import 'mixins.scss';
@import 'theme.scss';

.facets {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-right: 3rem;
    line-height: 1;
    color: $three-quarter-black;
}
