@import 'mixins.scss';
@import 'variables.scss';

.actions-row {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  margin-top: 1rem;
  padding-top: 1rem;
  min-height: 3.5rem;
  border-top: 1px solid $eighth-black;
}

.goto-entity {
  margin-left: auto;
  position: absolute;
  top: 0;
  right: -1rem;
  text-decoration: none;
  border: none;
  color: $two-third-black;
  transition: color .2s ease-in-out;

  &:hover {
    border: none;
    color: $three-quarter-black;
  }
}

.goto-entity-icon {
  width: 4.3rem;
  height: 4.8rem;
  padding: 1rem 1rem 1rem .5rem;
}
