@import 'theme.scss';
@import 'mixins.scss';

.label,
.time {
    display: inline-block;
    font-size: 1.2rem;
}

.label {
    @include boldFont;
    color: $three-quarter-black;
}

.label-basic,
.label-additional,
.label-special,
.label-closure {
    composes: label;
    width: 9rem;
}
