@import 'variables.scss';
@import '~scss-mixins-spinners/scss/boxes-spinner.scss';

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large-default {
  @include boxes-spinner($color: $dark-highlight-color, $animation-name: 'boxes-spinner-animation');

  & span {
    animation-name: boxes-spinner-animation;
  }
}
