@import 'variables.scss';
@import 'mixins.scss';

.container {
  padding: 0 3rem;

  &:first-of-type {
    flex-grow: 1;
    padding-left: 0;
    border-right: 1px solid $eighth-black;
  }

  &:last-of-type {
    min-width: 275px;
    max-width: 300px; // not sure about this
    padding-right: 0;
  }

  @include below-tablet {
    width: 100%;
    padding: 0;

    &:first-of-type {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid $eighth-black;
      padding-bottom: 1.5rem;
      margin-bottom: 2rem;
    }

    &:last-of-type {
      max-width: 800px;
    }
  }
}
