@import 'theme.scss';
@import 'mixins.scss';

.container {
    padding: 0 3rem 4rem;
    align-self: center;
    width: 100%;
    position: relative;

    @include below-tablet {
        max-width: 500px;
    }

    @include below-wide-mobile {
        padding: 0 2rem 3rem;
    }
}

.container-default {
    composes: container;
    max-width: 800px;
}

.container-narrow {
    composes: container;
    max-width: 600px;
}
