@import 'variables.scss';
@import 'mixins.scss';

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: .8rem;

    &:last-of-type {
        margin-bottom: 0;
    }

    @include below-wide-mobile {
        margin-bottom: .5rem;
    }
}
