{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "react-css-modules",
      {
        "generateScopedName": "[path][name]__[local]",
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        },
        "webpackHotModuleReloading": true
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "react-transform",
          {
            "transforms": [
              {
                "transform": "react-transform-hmr",
                "imports": [
                  "react"
                ],
                "locals": [
                  "module"
                ]
              }
            ]
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "loose": true,
            "modules": "commonjs",
            "targets": {
              "browsers": [
                "last 2 versions",
                "safari >= 7"
              ]
            }
          }
        ],
        "react"
      ],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        [
          "module-resolver",
          {
            "alias": {
              "_src": "./src"
            }
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "lodash",
        "transform-react-constant-elements"
      ]
    }
  }
}