# dependencies
/node_modules

# build
/build

# env 
.env
.env.local
.env.production.local
cypress.env.json

# cypress output
/cypress/screenshots
/cypress/videos

# visual regression testing
.reg
/__screenshots__

# misc testing
/reports
/coverage
__diff_output__

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# misc
.DS_Store
