@import 'theme.scss';
@import 'mixins.scss';

.close-button {
  position: absolute;
  top: -.7rem;
  right: -.7rem;
  z-index: 1;
  border-radius: 500rem;
  padding: .2rem .5rem .6rem;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .5);
  color: $white;
}

.close-button-default {
  composes: close-button;
  background-color: $white;
}

.close-button-error {
  composes: close-button;
  background-color: #d0011b;
}

.close-button-success {
  composes: close-button;
  background-color: #68bd0a;
}
