@import 'theme';

.link {
  @include unstyledButton;
  @include noWebKitHighlight;
  display: inline-block;
  position: relative;
  padding: 1rem;
  border-bottom: none;
  cursor: pointer;
}

.link svg {
  width: 2.4rem;
  height: 2.4rem;
  transition: color .2s ease-in;
}

.link-default {
  composes: link;

  svg {
    color: $two-third-black;
  }

  &:hover {
    border-bottom: none;

    svg {
      color: $black;
    }
  }
}

.link-inverse {
  composes: link;

  svg {
    color: $white;
  }

  &:hover {
    border-bottom: none;

    svg {
      color: $eighth-black;
    }
  }
}
