@import 'theme';

.logo {
  margin-right: auto;
}

.dropdown-toolbar-item {
  height: 100%;
}

.dropdown>button {
  @include expandingUnderline;
}

.wide-toolbar {
  display: none;

  @include from-desktop {
    display: flex;
  }
}

.narrow-toolbar {
  display: none;

  @include below-desktop {
    display: flex;
  }
}
