@import 'variables.scss';
@import 'mixins.scss';

.container {
  font-size: 1.3rem;
  color: $three-quarter-black;
  padding: 1rem 1.2rem 0;
  background-color: $sixteenth-black;
  border-radius: .6rem;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
  width: 100%;

  p {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 50vh;
    max-height: 200px;
    padding-bottom: 1rem;
  }

  ins, del {
    text-decoration: none;
  }

  ins {
    color: green;
  }

  del {
    color: red;
  }
}