.modal-transition {
  will-change: transform, opacity;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}

.modal-transition:global(.in) {
  opacity: 1;
  transform: translateX(0%);
}

.modal-transition:global(.out) {
  opacity: 0;
  transform: translateX(30%);
}
