@import 'theme';

.container {
    display: flex;
    padding-bottom: 1rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid $eighth-black;

    &:last-of-type {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }
}

.content {
    flex-grow: 1;

}

.icon {
    flex-grow: 0;
    flex-shrink: 0;
    width: 2.2rem;
    height: 2.2rem;
    margin-left: .5rem;
    cursor: pointer;
    color: $quarter-black;
    transition: color .2s ease-in;

    &:hover {
        color: $three-quarter-black;
    }
}
