@import 'theme';

.container {
  display: flex;
  padding-bottom: 1rem;
  margin-bottom: .5rem;
  border-bottom: 1px solid $eighth-black;

  &:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
}

.content {
  flex-grow: 1;
}

.button {
  padding: 0 0 0 5px;
}
