@import 'variables.scss';
@import 'mixins.scss';

.container {
  position: relative;
}

.header-button {
  @include unstyledButton;
  display: flex;
  align-content: center;
  width: 100%;
}

.header-text {
  color: $three-quarter-black;
  display: block;
  text-transform: uppercase;
  font-size: 1em;
  padding: .7em 0 .6em;
  line-height: 1;
  margin: 0 auto 0 0;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.indicator {
  display: inline-block;
  width: 1em;
  height: 1em;
  align-self: center;
  color: $highlight-color;
  margin-left: .7rem;
  will-change: opacity;
  transition: opacity .2s ease-in-out;
}

.indicator-closed {
  composes: indicator;
  opacity: 1;
}

.indicator-open {
  composes: indicator;
  opacity: 0;
}

.arrow {
  width: 1.5em;
  height: 1.5em;
  align-self: center;
  color: $half-black;
  transition: transform 250ms;
  will-change: transform;
}

.arrow-down {
  composes: arrow;
}

.arrow-up {
  composes: arrow;
  transform: rotate(180deg);
}

:global(.expander-enter) {
  max-height: 0;
  opacity: 0.01;
}

:global(.expander-enter.expander-enter-active) {
  max-height: 700px;
  opacity: 1;
  transition: max-height 250ms ease-in, opacity 250ms ease-in;
}

:global(.expander-exit) {
  max-height: 700px;
  opacity: 1;
}

:global(.expander-exit.expander-exit-active) {
  max-height: 0;
  opacity: 0.01;
  transition: max-height 250ms ease-out, opacity 250ms ease-out;
}
