@import 'theme.scss';

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 1rem;
    background-color: $field-background-color;
    border-radius: $border-radius;
}
