@import 'variables.scss';
@import 'mixins.scss';

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  @include boldFont;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: $three-quarter-black;
  margin: 0;
  text-align: center;
}

.code {
  display: block;
  font-size: 8rem;
  line-height: 8rem;
  color: $highlight-color;
}
