@import 'variables.scss';
@import 'mixins.scss';

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  @include regularFont;
  font-size: 1.8rem;
  color: $three-quarter-black;
  margin: 0;
  text-align: center;
}

.icon {
  display: block;
  font-size: 12rem;
  line-height: 12rem;
  color: $highlight-color;
  margin: 0 auto 10px;
}
