$animationDuration: 200;
$animationDurationMs: $animationDuration+0ms;

:export {
  animationDuration: $animationDuration;
}

.backdrop-transition {
  opacity: 0;
  will-change: opacity;
  transition: opacity $animationDurationMs ease-in-out;
}

.backdrop-transition:global(.in) {
  opacity: 0.5;
}

.backdrop-transition:global(.out) {
  opacity: 0;
}
