.backdrop-transition {
  opacity: 0;
  will-change: opacity;
  transition: opacity 200ms ease-in-out;
}

.backdrop-transition:global(.in) {
  opacity: 0.5;
}

.backdrop-transition:global(.out) {
  opacity: 0;
}
