@import 'theme.scss';
@import 'mixins.scss';

.menu {
    list-style: none;
    padding: 0;
    margin: -.6em 0 .35em 1em;
    will-change: max-height;
    font-size: 1.6rem;
}

.link {
    border-bottom: 1px solid $eighth-black;

    &:last-of-type {
        border-bottom: none;
    }
}
