@import 'theme.scss';
@import 'mixins.scss';

.container {
    position: relative;
    display: inline-flex;
    color: $black;
    width: 100%;
}

.container-large {
    composes: container;
    font-size: 2.2rem;

    @include below-wide-mobile {
        font-size: 1.8rem;
    }
}

.container-small {
    composes: container;
    font-size: 1.8rem;

    @include below-wide-mobile {
        font-size: 1.6rem;
    }
}

.input {
    @include noWebKitHighlight;
    flex: 1 0 auto;
    outline: 0;
    margin: 0;
    max-width: 100%;
    border: none;
    border-bottom: 2px solid $quarter-black;
    padding: .7rem 4.2rem .7rem 1.75rem;
    text-align: left;
    background: $white;
    transition: border-color .1s ease;
    border-radius: 0;

    &:focus {
        border-color: $input-border-focus-color;
        color: rgba(0,0,0,.8);
    }
}

.link {
    @include noWebKitHighlight;
    position: absolute;
    right: 1.5rem;
    top: calc(50% - 2rem);
    cursor: pointer;
    color: $half-black;
    height: 2.8rem;
    width: 2.4rem;

    &:hover {
        .icon {
            color: $half-black;
        }
    }

    @include below-wide-mobile {
        top: calc(50% - 1.7rem);
    }
}

.icon {
    width: 2.4rem;
    height: 2.4rem;
    color: $quarter-black;
    transition: color .2s ease;

    @include below-wide-mobile {
        width: 2.2rem;
        height: 2.2rem;
    }
}

.results-container {
    z-index: 100;
    position: absolute;
    left: 1.8rem;
    right: 1.8rem;
    top: 5rem;
    background-color: $white;
    padding: .5rem 0;
    font-size: 1.6rem;
    border: 1px solid $input-border-color;
    border-radius: $border-radius;
}

.results-header {
    @include boldFont;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: .5rem 0 0rem 1rem;
    color: $third-black;
}

.result-item {
    @include regularFont;
    @include noWebKitHighlight;
    display: inline-block;
    padding: .5rem 1rem .5rem 2rem;
    cursor: pointer;
    width: 100%;
    color: $three-quarter-black;
    transition: background-color .2s ease-in,color .2s ease-in;
    border-bottom: none;

    &:hover {
        color: $black;
        background-color: $sixteenth-black;
        text-decoration: none;
        border: none;
    }
}

.result-item-selected {
    composes: result-item;
    background-color: $sixteenth-black;
}

.highlight {
    @include boldFont;
}
