@import 'variables.scss';
@import 'mixins.scss';

.toolbar-item {
  margin-right: $narrow-gutter;

  @include from-desktop {
    margin-right: $wide-gutter;
  }

  &:last-of-type {
    margin-right: 0;
  }
}
