@import 'theme';

.menu-item {
  @include unstyledButton;
  @include noWebKitHighlight;
  display: block;
  color: $black;
  background-color: transparent;
  transition: background-color .1s ease-in-out, color .1s ease-in-out;
  line-height: 2;
  padding: 0 2.2rem;
  font-size: 1.6rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.menu-item-compact {
  composes: menu-item;
  padding: 0 1.5rem;
}

.selected {
  color: $white !important;
  background-color: $dark-highlight-color;
}

.menu-item-selected {
  composes: menu-item;
  composes: selected;
}

.menu-item-compact-selected {
  composes: menu-item-compact;
  composes: selected;
}
