@import 'theme';

.container {
  display: flex;
  padding-bottom: 1rem;
  margin-bottom: .5rem;
  border-bottom: 1px solid $eighth-black;

  &:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
}

.content {
  flex-grow: 1;
}

.first-row {
  margin-bottom: .5rem;
}

.title {
  @include boldFont;
  font-size: 1.4rem;
  padding: 0;
  margin: 0 0 .5rem 0;
}

.tag {
  font-size: 1.2rem;
  display: inline-block;
  ;
  border-radius: 500rem;
  color: $white;
  background-color: $quarter-black;
  padding: .1rem .9rem;
  margin: 0 .5rem 0 0;
}

.tag-missing {
  composes: tag;
  background-color: darkred;
}

.tag-changed {
  composes: tag;
  background-color: darkorange;
}
