@import 'theme.scss';
@import 'mixins.scss';

.options-container {
    display: flex;
    border: 1px solid $highlight-color;
    border-radius: 5px;
    padding: 1px;

    @include below-wide-mobile {
        width: 100%;
    }
}