@import 'mixins.scss';
@import 'variables.scss';

.link {
  @include expandingUnderline;
  @include regularFont;
  @include noDefaultAnchorStyling;
  @include headerLinkText;
  display: flex;
  align-items: center;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  margin-left: 2.2rem;
  position: relative;
}
