@import 'variables.scss';
@import 'mixins.scss';

.container {
    display: flex;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}