@import 'theme';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img {
  width: 60px;
  height: 60px;
  display: block;
}

.img,
.placeholder {
  border-radius: 500rem;
}

.details {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;

  h4,
  .roles,
  .characters {
    margin: 0;
    padding: 0;
  }

  h4 {
    @include regularFont;
    font-size: 1.6rem;
  }

  .roles {
    @include extraBoldFont;
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  .characters {
    font-style: italic;
  }
}
