@import 'variables.scss';
@import 'mixins.scss';

.container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  z-index: 10000;
  background-color: $white;
  will-change: opacity, top;
}

.container-narrow {
  composes: container;
  width: 500px;
}

.container-wide {
  composes: container;
  width: 650px;
}

.header {
  @include extraBoldFont;
  margin: 0;
  font-size: 2rem;
  line-height: 1;
  padding: 1.5rem 0 1.5rem 2rem;
  color: $white;
  background-color: $dark-highlight-color;
  overflow: hidden;

  @include below-wide-mobile {
    font-size: 1.8rem;
    padding: 1rem 0 1rem 1.5rem;
  }
}

.close {
  position: absolute;
  top: 1px;
  right: 5px;

  @include below-wide-mobile {
    top: -5px;
    right: 0;
  }
}
