@import 'theme';

.container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 50%;
  padding: 2rem;

  @include below-tablet {
    width: 100%;
  }

  h2 {
    @include extraBoldFont;
    margin: 0;
    padding: 0;
    padding-bottom: .7rem;
    border-bottom: 1px solid $quarter-black;
    color: $half-black;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1;
  }

  p {
    @include extraBoldFont;
    margin: 0;
    padding: 0;
    align-self: flex-end;
    font-size: 10rem;
    line-height: 1;
    color: $highlight-color;

    @include below-tablet {
      font-size: 7rem;
    }
  }
}

.container-event {
  composes: container;
}

.container-event-series {
  composes: container;
}

.container-talent {
  composes: container;
}

.container-venue {
  composes: container;
}
