<!doctype html>
<html lang="en-GB">

<head lang="en-GB">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel="dns-prefetch" href="//siteimages.artfully.london">
    <link rel="dns-prefetch" href="//images.artfully.london">

    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="230x230" href="/favicon/favicon-230x230.png">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/favicon/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.title %>">
</head>

<body id="body">
    <div id="react-root"></div>
    <div id='loading-screen-dialog'>
        <div id="loading-screen-spinner" role='alert' aria-busy>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h1>
            Artfully
            <span>London</span>
        </h1>
    </div>
    <%= htmlWebpackPlugin.files.webpackManifest %>
        <% for (var css in htmlWebpackPlugin.files.css) { %>
            <% if (htmlWebpackPlugin.files.css[css].indexOf('global') === -1) { %>
                <link rel="stylesheet" href="/<%= htmlWebpackPlugin.files.css[css] %>">
                <% } %>
                    <% } %>
                        <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
                            <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
                            <% } %>
</body>

</html>