@import 'theme.scss';
@import 'mixins.scss';

.container {
    align-self: flex-start;
    position: relative;
    @include boldFont;
    margin-top: 1rem;
    display: inline-block;
    vertical-align: baseline;
    padding: .3em .7em;
    text-transform: none;
    border-radius: .3rem;
    font-size: 1.2rem;
    background-color: $white;
    color: $field-error-color !important;
    border: 1px solid $field-error-color;

    &:before {
        background-color: inherit;
        border-style: solid;
        position: absolute;
        content: '';
        background-image: none;
        width: 0.8rem;
        height: 0.8rem;
        border-width: 1px 0 0 1px;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        top: 0;
        left: 50%;
        margin-top: -1px;
    }
}
