@import 'theme.scss';
@import 'mixins.scss';

.button {
    @include unstyledButton;
    width: 3.4rem;
    height: 3.4rem;
    overflow: visible;
    border-radius: 500rem;
    background-color: $third-black;
    transition: background-color .2s ease-out;

    &:disabled,
    &:disabled:hover {
        background-color: $almost-white;
    }

    &:hover {
        background-color: $half-black;
    }
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 2.2rem;
    height: 2.2rem;
    color: $white;
}
