@import 'variables.scss';
@import 'mixins.scss';

.container {
  z-index: 100;
  position: absolute;
  left: 1.8rem;
  right: 1.8rem;
  top: 5rem;
  background-color: $white;
  padding: .5rem 0;
  font-size: 1.6rem;
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .5);
}
