@import 'variables.scss';
@import 'mixins.scss';

.container {
  position: relative;
  display: inline-flex;
  color: $black;
  width: 100%;
}

.container-large {
  composes: container;
  font-size: 2.2rem;

  @include below-wide-mobile {
    font-size: 1.8rem;
  }
}

.container-small {
  composes: container;
  font-size: 1.8rem;

  @include below-wide-mobile {
    font-size: 1.6rem;
  }
}

.input {
  @include noWebKitHighlight;
  flex: 1 0 auto;
  outline: 0;
  margin: 0;
  max-width: 100%;
  border: none;
  border-bottom: 2px solid $quarter-black;
  padding: .7rem 4.2rem .1rem 1.7rem;
  text-align: left;
  background: $white;
  transition: border-color .1s ease;
  border-radius: 0;

  &:focus {
    border-color: $input-border-focus-color;
    color: rgba(0, 0, 0, .8);
  }

  @include below-wide-mobile {
    padding: .7rem 3.2rem .1rem .5rem;
  }
}

.search-button {
  position: absolute;
  right: -.4rem;
  top: calc(50% - 2.6rem);

  @include from-wide-mobile {
    top: calc(50% - 3rem);
    right: 0;
  }
}

// .link {
//   @include noWebKitHighlight;
//   position: absolute;
//   right: 1.5rem;
//   top: calc(50% - 2rem);
//   cursor: pointer;
//   color: $half-black;
//   height: 2.8rem;
//   width: 2.4rem;
//   &:hover {
//     .icon {
//       color: $three-quarter-black;
//     }
//   }
//   @include below-wide-mobile {
//     top: calc(50% - 1.7rem);
//     right: .3rem;
//   }
// }
// .icon {
//   width: 2.4rem;
//   height: 2.4rem;
//   color: $half-black;
//   transition: color .2s ease;
//   @include below-wide-mobile {
//     width: 2.2rem;
//     height: 2.2rem;
//   }
// }
