@import 'variables.scss';
@import 'mixins.scss';

.container {
  position: relative;
  display: inline-flex;
  color: $black;
  width: 100%;
}

.container-large {
  composes: container;
  font-size: 2.2rem;

  @include below-wide-mobile {
    font-size: 1.8rem;
  }
}

.container-small {
  composes: container;
  font-size: 1.8rem;

  @include below-wide-mobile {
    font-size: 1.6rem;
  }
}

.input {
  @include noWebKitHighlight;
  flex: 1 0 auto;
  outline: 0;
  margin: 0;
  max-width: 100%;
  border: none;
  border-bottom: 2px solid $quarter-black;
  padding: .7rem 4.2rem .1rem 1.7rem;
  text-align: left;
  background: $white;
  transition: border-color .1s ease;
  border-radius: 0;

  &:focus {
    border-color: $input-border-focus-color;
    color: rgba(0, 0, 0, .8);
  }

  @include below-wide-mobile {
    padding: .7rem 4rem .4rem .5rem;
  }
}
