@import 'theme';

.modal {
  padding: 1.5rem;
  overflow-y: scroll;
  font-size: 1.8rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 250px;
  background-color: $white;
  box-shadow: 3px 0px 7px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
