@import 'mixins.scss';
@import 'variables.scss';

.button {
    @include expandingUnderline;
    @include extraBoldFont;
    @include unstyledButton;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1;
    text-transform: uppercase;
    margin-left: 2.2rem;
    position: relative;
    color: $three-quarter-black;
}
