@import 'theme.scss';
@import 'mixins.scss';

.rte.rte,
.rte :global(.rte-editor) {
    @include regularFont;
    line-height: $input-line-height;
    font-size: $input-font-size;
}

.rte :global(.rte-editor) {
    margin: 0 1rem;
}

.rte > div:first-child > :global(:not(:first-child)),
.rte button[title="Strikethrough"],
.rte button[title="Monospace"] {
    display: none;
}

.rte button[title="Italic"] {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.rte :global(.DraftEditor-editorContainer) {
    background-color: $field-background-color;
    border-radius: $border-radius;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
