@import 'variables.scss';
@import 'mixins.scss';

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    button {
        margin-left: 1rem;
    }
}

.dropdown {
    flex-grow: 1;
}

.text-wrapper {
    flex-grow: 1;
}

.text {
    flex-grow: 1;
    margin-right: 1rem;
    border-radius: 0;
    color: $three-quarter-black;
    background-color: $almost-white;
    border: none;
    border-bottom: 2px solid $input-border-color;
    font-size: 1.8rem;
    height: 4.4rem;
}
