@import 'mixins.scss';
@import 'variables.scss';

.button {
  @include expandingUnderline;
  @include regularFont;
  @include unstyledButton;
  @include headerLinkText;
  display: flex;
  align-items: center;
  position: relative;
}
