@import 'theme.scss';
@import 'mixins.scss';

.container {
    flex-grow: 1;
    padding: .5rem;
    background-color: $alt-page-color;
    position: relative;
    min-height: 200px;

    @include wide-desktop {
        border-radius: $border-radius;
    }
}
