@import 'variables.scss';
@import 'mixins.scss';

.heading {
    @include extraBoldFont;
    font-size: 2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 1.2rem 0 .8rem;
    color: darken(#8D8282, 3);
    background-color: lighten(#E3DCCF, 5);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,.33);
    z-index: 3;

    span {
        color: $black;
    }
}
