@import 'variables.scss';

.section {
    width: 100%;
    max-width: 650px;
    margin: 0 auto 1rem;
    padding: 0 3rem 2rem;
    border-bottom: 1px solid $eighth-black;
}

.section-default {
    composes: section;
}

.section-smallprint {
    composes: section;
    font-size: 1.2rem;
}
