@import 'variables.scss';
@import 'mixins.scss';

.image {
    border-radius: $border-radius;
    display: block;
    flex-shrink: 0;
}

.tiny {
    composes: image;
    width: 32px;
    height: 32px;
    border-radius: 500rem;
}

.very-small {
    composes: image;
    width: 50px;
    height: 50px;
    border-radius: $border-radius / 2;

    @include from-wide-mobile {
        width: 75px;
        height: 75px;
    }
}

.small {
    composes: image;
    width: 120px;
    height: 120px;
}

.medium {
    composes: image;
    width: 250px;
    height: 250px;
}
