@import 'theme.scss';

.container {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    background-color: $field-background-color;
    border-radius: $border-radius;
    padding: 1rem;
    margin-bottom: 1rem;
}
