@import 'variables.scss';
@import 'mixins.scss';

.container {
  display: block;
  margin-left: 3rem;

  a {
    cursor: pointer;

    &:hover {
      color: $black;
    }
  }

  @include below-wide-mobile {
    font-size: 1.4rem;
    margin-left: 1.5rem;
  }
}
