@import 'variables.scss';
@import 'mixins.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    flex-grow: 1;

    @include from-wide-mobile {
        font-size: 2.6rem;
    }
}

.icon {
    width: 5em;
    height: 5em;
    color: $quarter-black;
    margin-bottom: 1em;
}

.message {
    @include boldFont;
    text-align: center;
    color: $quarter-black;
}

.action {
    font-size: 1.4rem;
    color: $half-black;

    @include from-wide-mobile {
        font-size: 1.6rem;
    }

    a {
        cursor: pointer;

        &:hover {
            color: $black;
        }
    }
}