// Site-wide CSS Rules
@import 'variables.scss';
@import 'mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Shrikhand');

html {
  -webkit-font-smoothing: antialiased;
  @include regularFont;
  font-size: 62.5%;
}

* {
  text-rendering: geometricPrecision;
}

body {
  position: relative;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0 .1em .1em;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
  transition: border-bottom-color .2s ease-in-out;

  &:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
}

em a {
  font-style: italic;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.4;
  color: $three-quarter-black;
}

$input-placeholder-color: rgba(0,
0,
0,
.3);
$input-placeholder-focus-color: rgba(0,
0,
0,
.55);

::-webkit-input-placeholder {
  color: $input-placeholder-color;
  opacity: 1 !important;
}

:-moz-placeholder {
  color: $input-placeholder-color;
}

::-moz-placeholder {
  color: $input-placeholder-color;
}

:-ms-input-placeholder {
  color: $input-placeholder-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: normal;
  @include boldFont;
}

// :global(.backdrop) {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   z-index: auto;
//   background-color: black;
// }
