$medium-mobile-width: 460px;
$wide-mobile-width: 544px;
$tablet-width: 768px;
$desktop-width: 992px;
$wide-desktop-width: 1200px;

$narrow-gutter: 15px;
$wide-gutter: 15px;

$box-shadow: rgba(0, 0, 0, .33);

$black: #000;
$three-quarter-black: #3F3F3F;
$half-black: #6F6F6F;
$third-black: #999;
$quarter-black: #BEBEBE;
$eighth-black: #DFDFDF;
$sixteenth-black: #EFEFEF;
$almost-white: #F7F7F7;
$white: #FFF;
$link-color: #429ad6;
$highlight-color: #FF7F50;
$dark-highlight-color: #FF632A;
$header-background-color: #9FADBE;
$alt-page-color: #f3f1ed;

$border-radius: .4rem;
$banner-header-wide-height: 200px;
$banner-header-narrow-height: 170px;

$input-font-size: 1.6rem;
$input-line-height: 1.4;
$input-border-radius: $border-radius;
$input-border-color: $eighth-black;
$input-background-color: $white;
$input-placeholder-color: $quarter-black;
$input-placeholder-focus-color: $half-black;
$input-border-focus-color: #85B7D9;
$input-disabled-opacity: .4;

$field-error-color: #DB2828;
$field-label-color: $dark-highlight-color;
$field-border-color: $eighth-black;
$field-background-color: $sixteenth-black;

$error-color: #c52323;
$success-color: #2C662D;
$info-color: #0E566C;
$warning-color: #573A08;
$validation-color: $highlight-color;

$input-error-color: $error-color;
$input-error-background-color: lighten($input-error-color, 52);
$input-error-border-color: lighten($input-error-color, 34);

$input-icon-color: $half-black;
$input-icon-hover-color: $three-quarter-black;

$event-color: #75ca18;
$event-series-color: #4990E2;
$talent-color: $dark-highlight-color;
$venue-color: #db3b9c;
