@import 'theme';

.button {
  @include unstyledButton;
  @include noWebKitHighlight;
  display: inline-block;
  position: relative;
  padding: 1rem;
  border-bottom: none;
  cursor: pointer;
  line-height: 0;

  svg {
    margin-top: -1px;
    width: 2.4rem;
    height: 2.4rem;
    transition: color .2s ease-in;
  }

  &:hover {
    border-bottom: none;
  }
}

.button-compact {
  composes: button;

  svg {
    width: 2rem;
    height: 2rem;
  }
}

.button-default {
  composes: button;
}

.button-compact-default {
  composes: button-compact;
}

.button-inverse {
  composes: button;
}

.button-compact-inverse {
  composes: button-compact;
}

.button-default,
.button-compact-default {
  svg {
    color: $two-third-black;
  }

  &:hover {
    svg {
      color: $black;
    }
  }
}

.button-inverse,
.button-compact-inverse {
  svg {
    color: $eighth-black;
  }

  &:hover {
    svg {
      color: $white;
    }
  }
}
